<sw-page>
    <template #content>
        <sw-card-view>
            <div class="infoplus-new-customfield">
                <sw-card :title="$tc('infoplus.customfield.createNew')">
                    <sw-text-field
                            :label="$tc('infoplus.customfield.columns.technicalName')"
                            v-model:value="customField.technicalName"
                            :required="true"/>
                    <sw-text-field
                            :label="$tc('infoplus.customfield.columns.label')"
                            v-model:value="customField.label"
                            :required="true"/>
                    <sw-select-field
                            :label="$tc('infoplus.customfield.columns.type')"
                            v-model:value="customField.type"
                            :options="typeOptions">
                        <option
                                v-for="typeOption in typeOptions"
                                :key="typeOption.value"
                                :value="typeOption.value"
                        >
                            {{ typeOption.label }}
                        </option>
                    </sw-select-field>
                    <template v-if="customField.type === 'select'">
                        <sw-textarea-field
                            :label="$tc('infoplus.customfield.columns.options')"
                            v-model:value="customField.optionsString"
                            :placeholder="$tc('infoplus.customfield.optionsPlaceholder')"
                        />
                    </template>
                    <sw-switch-field
                            :label="$tc('infoplus.customfield.columns.isRequired')"
                            v-model:value="customField.isRequired"/>
                    <sw-number-field
                        :label="$tc('infoplus.customfield.columns.position')"
                        v-model:value="customField.position"
                        :required="false"
                    />
                    <sw-switch-field
                        :label="$tc('infoplus.customfield.columns.active')"
                        v-model:value="customField.active"
                    />
                    <sw-switch-field
                        :label="$tc('infoplus.customfield.columns.showInStorefront')"
                        v-model:value="customField.showInStorefront"/>
                    <sw-button variant="primary" @click="saveCustomField">
                        {{ $tc('infoplus.customfield.save') }}
                    </sw-button>
                    <sw-button
                            variant="ghost"
                            :disabled="isLoading"
                            @click="$router.back()"
                    >
                        {{ $tc('infoplus.category.cancel') }}
                    </sw-button>
                </sw-card>
            </div>
        </sw-card-view>
    </template>
</sw-page>