<template>
    <sw-button @click="triggerSync" id="infoplus-sync-btn" variant="primary">
        {{ syncButtonText }}
    </sw-button>
    <span style="margin-left: 10px"> {{ lastSyncTime }} </span>
</template>