<sw-page>
    <template #content>
        <sw-card-view>
            <div class="infoplus-content">
                <sw-card :title="$tc('infoplus.category.editTitle')">
                    <sw-text-field
                            v-model:value="categoryName"
                            :label="$tc('infoplus.category.name')"
                            name="categoryName"
                            :placeholder="$tc('infoplus.category.namePlaceholder')"
                            :disabled="isLoading"
                    ></sw-text-field>

                    <sw-button
                            variant="primary"
                            :disabled="isLoading"
                            @click="saveCategory"
                    >
                        {{ $tc('infoplus.category.save') }}
                    </sw-button>
                    <sw-button
                            variant="ghost"
                            :disabled="isLoading"
                            @click="$router.back()"
                    >
                        {{ $tc('infoplus.category.cancel') }}
                    </sw-button>
                </sw-card>
            </div>
        </sw-card-view>
    </template>
</sw-page>